.Pokemon{
    margin-top: 2rem;
    flex-basis: 20%;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Pokemon-name{
    font-size: larger;
    letter-spacing: 0.5rem;
}
.Pokemon-img{
    margin-top: 1rem;
    height: 200px;
    max-height: 80%;
}
.Pokemon:hover{
    background-color: aliceblue;
}